RewriteEngine On

# Redirect to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Block access to sensitive files
<FilesMatch "\.(env|log|json|lock|md)$">
  Order allow,deny
  Deny from all
</FilesMatch>

# Block form-handler.php unless submitted from softercolor.com
RewriteCond %{HTTP_REFERER} !^https://(www\.)?softercolor\.com [NC]
RewriteRule ^form-handler\.php$ - [F,L]
